@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Calendar</title>
    </head>
    <body>
        <div id="calendarContainer"></div>
        <script src="/Scripts/react/dist/bundle.js"></script>
        <link rel="stylesheet" href="/Scripts/react/dist/style.css">
    </body>
</html>